<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
            <title>Covid-19 Tracking - {{ title }}</title>
        {% else %}
            <title>Covid-19 Tracking</title>
        {% endif %}
    </head>
    <body>
        {% include 'nav-bar.html' %}
        <div class="container" id="content" text-align="center">
            {% extends "bootstrap/base.html" %}
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>