<div class="parent" id="metrics">
    <div class="child">cases</div>
    <div class="child">deaths</div>
    <div class="child">recovered</div>
    <div class="child">active</div>
    <div class="child">new-cases</div>
    <div class="child">new-deaths</div>
    <div class="child">cases-pm</div>
    <div class="child">take-at</div>
    <div class="child">{% include 'pie.html' %}</div>
    <div class="child">deaths-per-case</div>
    <div class="child">recovered-per-case</div>
    <div class="child">active-per-case</div>
</div>